body{
    background-image: url(2560x1440-blue-abstract-noise-free-website-background-image.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 125%;
}
.wrapper{
    background: #000000bb;
    color: white;
    padding: 25px;
    border-radius: 35px;
    width:100%;
    max-width: 500px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    margin: 8px;
    border-radius: 100%;
    border: none;
    height: 45px;
    width: 45px;
    background: white;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}
input.searchbar{
    border: none;
    outline: none;
    padding: 6px 20px;
    font-family: inherit;
    font-size: 130%;
    width: 90%;
    border-radius: 30px;
}
button:hover{
    background-color:rgba(255, 255, 255, 0.6);
}
.icon{
    float: right;
    width: 120px;
    position: relative;
    top: -100px;
    right: 40px;
}
.weather.placeholder{
    visibility: hidden;
}
.weather.placeholder:after{
    visibility: visible;
    content: "Loading...";
    color: white;
}
.description{
    text-transform: capitalize;
    margin-left: 5px;
    float: right;
    position: relative;
    right: -60px;
}
h1.temp{
    margin: 0;
    font-size: 80px;
}
.datetime{
    color:white;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 40px;
}
